/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  width: 800px;
  margin: auto;
  background-color: #888;
}

#page_border {
  background-color: #EEE;
}

img {
  width: 750px;
  height: auto;
  margin: 10px 24px;
  border: 2px solid #000;
  border-radius: 15px;
}

header {
  background-image: url(./images/vidcon_exterior.jpg);
  background-position: left;
  opacity: 90;
  height: 90px;
  font-family: Garamond, serif;
  font-size: 46px;
  font-weight: bolder;
  color: #363EFF;
  text-shadow: 3px 2px #AAA;
  text-align: center;
  padding: 130px 0px;
}

header p {
  background-color: #FFF;
  opacity: 35%;
}

article {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  padding-bottom: 15px;
}

p {
  padding: 5px 25px;
}

footer {
  height: 40px;
  padding-top: 25px;
  padding-right: 10px;
  text-align: right;
  font-family: monospace;
  color: #776;
  background-color: #DDE;
}
